.chrome {
  position: relative;
  width: 242px;
  height: 61px;
  background: url(../images/chrome.png);
}

.chrome-icon {
  position: relative;
  width: 16px;
  height: 16px;
  left: 16px;
  top: 5px;
}